[Unit]
Description=graphite carbon relay
After=network.target

[Service]
ExecStartPre=rm -f /opt/graphite/storage/carbon-relay.pid 
ExecStart=/opt/graphite/bin/carbon-relay.py --pidfile=/opt/graphite/storage/carbon-relay.pid start
ExecStop=/opt/graphite/bin/carbon-cache.py --pidfile=/opt/graphite/storage/carbon-relay.pid stop
PIDFile=/opt/graphite/storage/carbon-relay.pid
Type=forking

[Install]
WantedBy=multi-user.target
